Axis/ClientAxisTp1/xml-resources/web-service-references/Operations/wsdl/localhost_8080/AxisTp1/Operations.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://services/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://services/">

<xs:element name="CheckVerifyFault" nillable="true" type="tns:checkFaultBean"/>

<xs:element name="division" type="tns:division"/>

<xs:element name="divisionResponse" type="tns:divisionResponse"/>

<xs:element name="intToString" type="tns:intToString"/>

<xs:element name="intToStringResponse" type="tns:intToStringResponse"/>

<xs:complexType name="division">
<xs:sequence>
<xs:element name="entier1" type="xs:int"/>
<xs:element name="entier2" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="divisionResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkFaultBean">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="intToString">
<xs:sequence>
<xs:element name="entier" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="intToStringResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>