Axis/ClientAxisTp1/xml-resources/web-service-references/Operations/wsdl/localhost_8080/AxisTp1/Operations.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services/" name="Operations">
<types>
<xsd:schema>
<xsd:import namespace="http://services/" schemaLocation="http://localhost:8080/AxisTp1/Operations?xsd=1"/>
</xsd:schema>
</types>
<message name="intToString">
<part name="parameters" element="tns:intToString"/>
</message>
<message name="intToStringResponse">
<part name="parameters" element="tns:intToStringResponse"/>
</message>
<message name="division">
<part name="parameters" element="tns:division"/>
</message>
<message name="divisionResponse">
<part name="parameters" element="tns:divisionResponse"/>
</message>
<message name="CheckVerifyFault">
<part name="fault" element="tns:CheckVerifyFault"/>
</message>
<portType name="Operations">
<operation name="intToString">
<input wsam:Action="http://services/Operations/intToStringRequest" message="tns:intToString"/>
<output wsam:Action="http://services/Operations/intToStringResponse" message="tns:intToStringResponse"/>
</operation>
<operation name="division">
<input wsam:Action="http://services/Operations/divisionRequest" message="tns:division"/>
<output wsam:Action="http://services/Operations/divisionResponse" message="tns:divisionResponse"/>
<fault message="tns:CheckVerifyFault" name="CheckVerifyFault" wsam:Action="http://services/Operations/division/Fault/CheckVerifyFault"/>
</operation>
</portType>
<binding name="OperationsPortBinding" type="tns:Operations">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="intToString">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="division">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CheckVerifyFault">
<soap:fault name="CheckVerifyFault" use="literal"/>
</fault>
</operation>
</binding>
<service name="Operations">
<port name="OperationsPort" binding="tns:OperationsPortBinding">
<soap:address location="http://localhost:8080/AxisTp1/Operations"/>
</port>
</service>
</definitions>